.container{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    padding: 20px;
}
.top-nav {
    height: 150px;
    background-color: green;
    margin-bottom: 20px;
}
.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
    margin-right: 20px;
    display: inline-block;
    vertical-align: top;
}
.main {
    height: 400px;
    width: 700px;
    background-color: red;
    display: inline-block;
    vertical-align: top;
    padding: 15px 10px 10px 15px;
}
.sub-content {
    height: 200px;
    width: 210px;
    background-color: yellow;
    display: inline-block;
    margin: 0 10px 0 0;
}
#advertisement {
    height: 120px;
    width: 660px;
    background-color: purple;
    margin: 10px 0 0 0;;
}
