*{
    font-family: monospace;
}
h1{
    color: white;
    background-color: black;
    padding: 10px;
}

h1 span{
    color: #00ffff;
}

.h2Style{
    color: white;
    background-color: #663399;
    text-align: center;
    font-style: italic;
    padding: 10px;

}
.h3Style{
    text-align: right;
    background-color:#9fc5f8 ;
    color: #20124d;
    text-decoration: underline;
    padding: 10px;
}