*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
font-family: monospace;
background: #fff;
display: flex;
justify-content: center;
padding: 80px 0 0;
}

.containor{
width: 520px;
border: 2px solid #cfcfcf;
background: #fff;
position: relative;
}

.top{
height: 90px;
background: rgb(23 162 184);
}

.user-photo{
position: absolute;
top: 55px;
left: 30px;
width: 86px;
height: 86px;
border-radius: 50%;
}

.user-info{
padding: 35px 30px 25px;
margin-top: 20px; 
}

.user-info h1{
margin-bottom: 12px;
}

.location{
margin-bottom: 16px;
}
.icon{
width: 16px;
}
.edit-profile{
color: rgb(12 86 150);
}
