.search{
    color: #19b5b0;
    border-radius: 20px;
    border: 2px solid #19b5b0;
    padding: 8px 40px;
    margin: 15px;
}
.plus{
    color: white;
    background-color: #19b5b0;
    border-radius: 50%;
    border: 2px solid #19b5b0;
    margin: 0 15px;
    font-size: 25px;
}
.account{
    margin: 15px;
    color: white;
    background-color: #1e73f5;
    box-shadow: 4px 4px 0px black;
    padding: 8px 25px;
}