* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Comic Sans MS", "Segoe Print", "Segoe UI", Arial, sans-serif;
}

.header {
  background-color: #cccccc;
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: auto;
  padding: 10px;
}
.header input {
  border: 3px solid black;
  padding: 3px 10px;
  width: 250px;
}

.header button {
  background-color: #1e6de8;
  color: white;
  padding: 5px 10px;
  border: 3px solid #000000;
  box-shadow: 3px 3px 0 #000000;
   font-size: 16px;
  font-weight: 700;
}


.contanior {
  width: 80%;
  margin: 40px auto;
  display: flex;
  gap: 30px;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.card {
  border: 3px solid #000;
  padding: 20px;
  display: flex;
  gap: 30px;
}

.word {
  font-size: 42px;
  font-weight: 700;
}

.type {
  font-style: italic;
  margin-top: 6px;
  font-size: 18px;
}

.plural {
  margin-top: 10px;
  font-size: 16px;
}

.btn-like {
  margin-top: 18px;
  background: #f6d66a;
  border: 3px solid #000;
  padding: 10px 14px;
  font-size: 16px;
  font-weight: 700;
  box-shadow: 3px 3px 0 #000;
}


.card-right {
  display: flex;
  align-items: center;
}

.definition {
  font-size: 20px;
}

.definition a {
  color: #1e6de8;
  text-decoration: underline;
}

.side-box {
  border: 3px solid #000;
  padding: 20px;
}

.side-title {
  font-size: 22px;
  margin-bottom: 16px;
}

.btn-add {
  width: 100%;
  background: #7fd07f;
  border: 3px solid #000;
  padding: 12px 14px;
  font-size: 18px;
  font-weight: 700;
  box-shadow: 3px 3px 0 #000;
}
