.row{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
.col,
.col-2,
.col-3 {
    background-color: #5f9ea0;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
}
.col{
    flex: 1;
}
.col-2{
    flex: 2;
}
.col-3{
    flex: 3;
}